@font-face {
    font-family: 'ZhanKuKuaiLeTi2016XiuDingBan-1';
    font-display: swap;
    src: url('https://blogxiaozheng.oss-cn-beijing.aliyuncs.com/fonts/ZhanKuKuaiLeTi2016XiuDingBan-1.ttf') format("truetype");
  }